.DropDownFill{
    min-width: -webkit-fill-available;
}
.Spacing{
    margin-bottom: 10px;
}
.MargButton{
    margin-right: 5px;
}

.accordion-button:not(.collapsed){
    background-color: rgba(121, 121, 121, 0.5);
}